<!DOCTYPE HTML>
<html>

<head>
    <title>Write your blog Here..!!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>

<body>
    <h1 style="text-align: center;">Error 404 Not found</h1>
    <p style="text-align:center;margin-top: auto;">page not found</p>
</body>

</html>