<!DOCTYPE HTML>
<html>

<head>
    <title>Write your blog Here..!!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/main.css" />
  </head>

<body class="homepage is-preload">
    <div id="page-wrapper">
        <!-- Header -->
        <section class="wrapper" style="text-align: center;">

            <!-- Logo -->
            <div>
                <h1><a href="/">Write your blog Here..!!</a></h1>
            </div>
        </section>
        <!-- Intro -->
        <section id="intro" class="wrapper style1">
            <nav class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="/login" class="button style3 large">Login</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/signup" class="button style3 large">SignUp</a></li>
                </ul>
            </nav>
        </section>


    </div>
</body>

</html>